//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import 'node_modules/dfe-frontend/packages/dfefrontend';
@import url('https://rsms.me/inter/inter.css');
$govuk-font-family: 'Inter', sans-serif;

// DfE number formatting // 

.tableNumbers{
      font-feature-settings: 'tnum' 1, 'ss01' 1, 'zero' 1;
  } 

.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
  content: url(/app/assets/images/department-for-education_white.png);
  height: 30px;
}