{% extends "layouts/main.html" %}

{% block pageTitle %}Submit Enrolment Data – {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Submit Learner Data</h1>

    <p class="govuk-body">This service is for organisations submitting, validating or viewing data.</p>

    <p class="govuk-body">For FE providers this includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Individualised Learner Records (ILR)</li>
      <li>Weekly Attendance Capture (WAC)</li>
      <li>Earnings Adjustment Statements (EAS)</li>
      <li>Funding Claims</li>
      <li>Further Education Staff and Vacancy Data</li>
      <li>Further Education Governor Data</li>
      <li>16-19 Student Estimate</li>
      <li>Employer identification</li>
      <li>Reports (including period end reports)</li>
    </ul>

    <p class="govuk-body">For devolved organisations this includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Skills Bootcamp Contracts</li>
      <li>Funded Aims</li>
      <li>Devolved Contracts (for adult skills)</li>
      <li>Period end reports</li>
    </ul>

    {{ govukButton({
      text: "Sign In",
      href: "/home",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">You'll need a <a href="#" class="govuk-link">DfE Sign-in account</a> to use this service. Read about our <a href="#" class="govuk-link">user roles and permissions</a>.</p>

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m">Help and support</h2>
      <p class="govuk-body-s">Find further information at the <a href="#" class="govuk-link">Customer Help Centre</a> where you can <a href="#" class="govuk-link">read our help articles</a>, talk to our Community, chat to our <a href="#" class="govuk-link">Virtual assistant</a> or submit an enquiry.</p>

      <h2 class="govuk-heading-m">Related content</h2>
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a href="#" class="govuk-link">How to become an approved training provider</a></li>
        <li><a href="#" class="govuk-link">Individualised Learner Record (ILR) technical documents, guidance and requirements (all years)</a></li>
      </ul>

      <h2 class="govuk-heading-m">Tools and services</h2>
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a href="#" class="govuk-link">FIS (Funding Information Service)</a></li>
        <li><a href="#" class="govuk-link">Find a Learning Aim</a></li>
        <li><a href="#" class="govuk-link">Enter learning data</a></li>
        <li><a href="#" class="govuk-link">ILR Learner entry tool</a></li>
        <li><a href="#" class="govuk-link">ILR FileMerge</a></li>
        <li><a href="#" class="govuk-link">FE staff data desktop application</a></li>
      </ul>
    </aside>
  </div>
</div>
{% endblock %}
